<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lorano Velli</title>
  {{ content_for_header }}
  <link href="{{ 'styles.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
</head>
<body style="background-color: {{ settings.background_color }}; color: {{ settings.text_color }};">
  {% render 'header' %}

  {{ content_for_layout }}

  {% render 'footer' %}
</body>
</html>
